<%- include("components/header") %>
<body>
    <!-- Modal -->
    <div class="modal fade" id="add-food" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Track a Food</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/newFood" method="POST" autocomplete="off">
                        <label style="font-size: 1.2rem; font-weight: bold; border-bottom-style: solid; border-bottom-width: 1px; border-color: rgb(180, 180, 180); width: 100%;">General</label>
                        <div class="field" style="margin-top: 0rem;">
                            <label>Food Name</label>
                            <div class="control">
                                <input class="modal-field form-control" type="text" name="name" placeholder="ex: scrambled eggs" required>
                            </div>
                        </div>
                        <div class="field">
                            <label>Calories</label>
                            <div class="control">
                                <input class="modal-field form-control" type="text" name="calories" required>
                            </div>
                        </div>
                        <label style="font-size: 1.2rem; font-weight: bold; border-bottom-style: solid; border-bottom-width: 1px; border-color: rgb(180, 180, 180); width: 100%; margin-top: 1rem;">Macros</label>
                        <div class="field" style="margin-top: 0rem;">
                            <label>Fat <span style="font-size:.75rem;">(grams)</span></label>
                            <div class="control">
                                <input class="modal-field form-control" type="text" name="fat" required>
                            </div>
                        </div>
                        <div class="field">
                            <label>Protien <span style="font-size:.75rem;">(grams)</span></label>
                            <div class="control">
                                <input class="modal-field form-control" type="text" name="protien" required>
                            </div>
                        </div>
                        <div class="field">
                            <label>Carbs <span style="font-size:.75rem;">(grams)</span></label>
                            <div class="control">
                                <input class="modal-field form-control" type="text" name="carbs" required>
                            </div>
                        </div>
                        <input class="form-control add-food-submit" type="submit" value="Track Food" style="margin-top:1rem;">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("components/sidebar") %>

    <div class="container" style="margin-left: calc(21% + 100px); padding-top: 3rem;">
        <div class="left-side">
            <div class="card tracker welcome">
                <h2 style="font-weight: bold;"><span id="welcome"></span> <%= user.name %></h2>
                <div class="welcome-text" id="day"></div>
                <div class="welcome-text" id="time"></div>
            </div>

            <div class="card tracker" id="calories">
                <h5 class="tracker-header">Calorie Tracker</h5>
                <p class="calorie-ratio"><%= currentCalories %> / <%= calorieNeeds %> <span style="font-size: 1rem; font-weight: bold;">Kcal</span></p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="calorie-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; max-width: <%= (Math.round((currentCalories / calorieNeeds) * 100) > 100 ? 100 : Math.round((currentCalories / calorieNeeds) * 100)) %>%"></div>
                </div>
            </div>
            
            <div class="card tracker" id="foods" style="position: relative;">
                <h5 class="tracker-header">Food Tracker</h5>
                <!-- Button trigger modal -->
                <% if(foodMessage != ""){ %>
                    <p class="invalid-message"><%= foodMessage %></p>
                <% } %>
                <button type="button" class="btn btn-primary add-food-modal-button" data-toggle="modal" data-target="#add-food" style="width: 5rem; height: 2rem; border-radius: .5rem; font-size: .75rem; position: absolute; right: 1rem;">
                    Add Food
                </button>
                <% todaysFoods.forEach(food => { %>
                    <div class="card food-card" id="<%=food._id%>">
                        <div class="food-time">
                            <%= (food.date.getHours() <= 11 ? (food.date.getHours() == 0 ? 12 : food.date.getHours()) : ((food.date.getHours() - 12) == 0 ? 12 : (food.date.getHours() - 12))) %>:<%= (food.date.getMinutes() < 10 ? `0${food.date.getMinutes()}` : food.date.getMinutes()) %>
                            <%= (food.date.getHours() <= 11 ? "am" : "pm") %>
                        </div>
                        <div class="food-title">
                            <%= food.name %>
                            <span style="font-size: 1rem; color: rgb(180, 180, 180)">- <%= food.calories %> Kcal</span>
                        </div>
                        <div class="food-macros">
                            <div class="food-macro food-fat">
                                <div class="food-macro-point" style="background-color: #28CCC7;"></div><%= food.macros.fat %>g
                            </div>
                            <div class="food-macro food-protien">
                                <div class="food-macro-point" style="background-color: #FFC05C;"></div><%= food.macros.protien %>g
                            </div>
                            <div class="food-macro food-carbs">
                                <div class="food-macro-point" style="background-color: #EB3333;"></div><%= food.macros.carbs %>g 
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        <div class="card tracker" id="macros">
            <h5 class="tracker-header">Macro Tracker</h5>
            <div class="macro-progress">
                <div class="fat macro">
                    <div class="macro-bar">
                        <div class="macro-fill" style="background-color: #28CCC7; height: 0; max-height:<%= currentMacros.fat %>%;"></div>
                    </div>
                    <div class="macro-label" style="color: #28CCC7; margin-left: 2rem;">Fat</div>
                    <div class="ideal-ratio" style="display:none"><%= macroRatio.fat %></div>
                </div>
                
                <div class="protien macro">
                    <div class="macro-bar">
                        <div class="macro-fill" style="background-color: #FFC05C; height: 0; max-height:<%= currentMacros.protien %>%"></div>
                    </div>
                    <div class="macro-label" style="color: #FFC05C; margin-left: 1.5rem;">Protien</div>
                    <div class="ideal-ratio" style="display:none"><%= macroRatio.protien %></div>
                </div>
                
                <div class="carbs macro">
                    <div class="macro-bar">
                        <div class="macro-fill" style="background-color: #EB3333; height: 0; max-height:<%= currentMacros.carbs %>%"></div>
                    </div>
                    <div class="macro-label" style="color: #EB3333; margin-left: 1.7rem;">Carbs</div>
                    <div class="ideal-ratio" style="display:none"><%= macroRatio.carbs %></div>
                </div>
                
            </div>
            <div class="macro-info">
                <div>
                    <p class="info-header" style="margin-left: 10%">Macronutrient</p>
                    <p class="info-header" style="margin-left: 14%">Ideal Diet Percent</p>
                    <p class="info-header" style="margin-left: 4%">Current Diet Percent</p>
                </div>
                <div class="table-row">
                    <p class="row-info">Fat</p>
                    <p class="row-info ideal" style="margin-left: 52%"><%= Math.round(macroRatio.fat) %>%</p>
                    <p class="row-info current" style="margin-left: 28%"><%= Math.round(currentMacros.fat) %>%</p>
                </div>
                <div class="table-row">
                    <p class="row-info">Protien</p>
                    <p class="row-info ideal" style="margin-left: 46%"><%= Math.round(macroRatio.protien) %>%</p>
                    <p class="row-info current" style="margin-left: 28%"><%= Math.round(currentMacros.protien) %>%</p>
                </div>
                <div class="table-row" style="border-bottom-style: none;">
                    <p class="row-info">Carbs</p>
                    <p class="row-info ideal" style="margin-left: 48%"><%= Math.round(macroRatio.carbs) %>%</p>
                    <p class="row-info current" style="margin-left: 28%"><%= Math.round(currentMacros.carbs) %>%</p>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    body {
        font-family: 'Open Sans', sans-serif;
        background-color: rgb(247, 247, 247);
    }

    .field {
        margin-top: 1rem;
    }

    .modal-field{
        border-style: solid;
        border-width: 1px;
        border-radius: .25rem;
        border-color: rgb(180, 180, 180);
    }

    .modal-field:focus{
        border-width: 2px;
        border-color: rgb(180, 180, 180);
    }

    .add-food-modal-button{
        background-color: #3678BF;
        color: #F8F7FF;
    }

    .add-food-modal-button:hover{
        background-color: #2D649F;
        color: #EBEBEB;
        transition: .4s ease;
    }

    .add-food-submit{
        background-color: #3678BF;
        color: #F8F7FF;
    }

    .add-food-submit:hover{
        background-color: #2D649F;
        color: #EBEBEB;
        transition: .4s ease;
    }

    .tracker {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 1rem;
        border-radius: .5rem;
        transition: all .4s ease;
    }

    .tracker:hover {
        box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, .2);
        transform: scale(1.005);
    }

    .left-side{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%
    }

    .welcome-text {
        text-align: right;
    }

    #day {
        color: rgb(180, 180, 180);
    }

    #time {
        font-size: 2rem;
    }

    #calories {
        width: 34.5rem;
        float: left;
    }

    .calorie-ratio {
        font-size: 2rem;
        font-weight: bold;
        text-align: right;
    }

    #foods{
        width: 34.5rem;
        float: left;
        height: 55%;
        overflow-y: scroll;
    }

    .food-card{
        margin-top: 1rem;
        height: 7rem;
        border-radius: 1rem;
        padding: 1rem;
        transition: all .4s ease;
    }

    .food-card:hover{
        box-shadow: 2px 1px 25px 5px rgba(166, 166, 166, .2);
        transform: scale(1.005);
        transition-duration: 4ms;
    }

    .food-time{
        width: 5rem;
        color:rgb(180, 180, 180);
    }

    .food-title{
        font-size: 1.5rem;
    }

    .food-macros{
        margin-left: 3rem;
    }

    .food-macro-point{
        width: .5rem;
        height: .5rem;
        border-radius: .5rem;
        float: left;
        margin-top: .5rem;
        margin-right: .25rem;
    }

    .food-macro{
        margin-left: 4rem;
        float: left;
    }

    #macros{
        width: 32rem;
        height: 60%;
        float: right;
    }

    .macro-progress {
        position: relative;
        margin-top: 1rem;
        margin-left: 20%;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .macro-bar {
        position: relative;
        height: 100%;
    }

    .macro-label {
        position: absolute;
        text-align: center;
        padding-top: .75rem;
    }

    .macro-fill {
        position: absolute;
        background-color: #266DD3;
        border-radius: .25rem;
        width: 3rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        bottom: 0;
    }

    .fat {
        margin-left:0%
    }

    .protien {
        margin-left: 20%
    }

    .carbs {
        margin-left: 20%
    }

    .macro-info {
        margin-top: 2rem;
    }

    .info-header {
        font-weight: bold;
        font-size: .8rem;
        float: left;
        margin-top: 2rem;
    }
    
    .table-row {
        float: left;
        margin-left: 10%;
        width: 80%;
        border-bottom-style: solid;
        border-width: 2px;
        border-color: rgb(214, 214, 214);
    }

    .row-info {
        float: left;
        font-size: .8rem;
    }

    .current {
        font-weight: bold;
    }

    .invalid-message{
        color: red;
        font-size: .75rem;
    }
</style>

<script>
    (function() {
        function setDash(){
            document.getElementsByClassName("sidebar-item")[0].classList.add("active");
        }

        function getTime(){
            var date = new Date();
            var hour = date.getHours() <= 11 ? (date.getHours() == 0 ? 12 : date.getHours()) : ((date.getHours() - 12) == 0 ? 12 : (date.getHours() - 12));
            var min = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();
            var timeOfDay = date.getHours() <= 11 ? "am" : "pm";
            var month = date.getMonth() == 0 ? "January" : (date.getMonth() == 1 ? "February" : (date.getMonth() == 2 ? "March" : (date.getMonth() == 3 ? "April" : (date.getMonth() == 4 ? "May" : (date.getMonth() == 5 ? "June" : (date.getMonth() == 6 ? "July" : 
                       (date.getMonth() == 7 ? "August" : (date.getMonth() == 8 ? "September" : (date.getMonth() == 9 ? "October" : (date.getMonth() == 10 ? "November" : "December"))))))))));
            var day = date.getDay() == 0 ? "Sunday" : (date.getDay() == 1 ? "Monday" : (date.getDay() == 2 ? "Tuesday" : (date.getDay() == 3 ? "Wednesday" : (date.getDay() == 4 ? "Thursday" : (date.getDay() == 5 ? "Friday" : "Saturday")))));
            document.getElementById("time").innerHTML = `${hour}:${min} ${timeOfDay}`;
            document.getElementById("day").innerHTML = `${day}, ${month} ${date.getDate()}`
            document.getElementById("welcome").innerHTML = date.getHours() <= 11 ? "Good morning," : ((date.getHours() - 12 <= 5) ? "Good afternoon," : "Good evening,");
        }

        function tellTime(){
            var time = setInterval(() => {
                getTime();
            }, 1000);
        }

        function calorieColorDetection(){
            var current = document.getElementsByClassName("calorie-ratio")[0].innerHTML.substring(0, document.getElementsByClassName("calorie-ratio")[0].innerHTML.indexOf("/"));
            var ideal = document.getElementsByClassName("calorie-ratio")[0].innerHTML.substring(document.getElementsByClassName("calorie-ratio")[0].innerHTML.indexOf("/") + 2, document.getElementsByClassName("calorie-ratio")[0].innerHTML.indexOf("<"));
            if(parseInt(current) == parseInt(ideal)){
                document.getElementById("calorie-bar").classList.add("bg-success");
                document.getElementsByClassName("calorie-ratio")[0].style.color = "#4BB543";
            }else if(parseInt(current) > parseInt(ideal)){
                if(document.getElementById("calorie-bar").classList.contains("bg-success")){
                    document.getElementById("calorie-bar").classList.remove("bg-success");    
                }
                document.getElementById("calorie-bar").classList.add("bg-danger");
                document.getElementsByClassName("calorie-ratio")[0].style.color = "#F32013";
            }
        }

        function calorieAnim(){
            var bar = document.getElementById("calorie-bar");
            var width = 0;
            var id = setInterval(frame, 10);
            function frame() {
                if(width >= bar.style.maxWidth.substring(0, bar.style.maxWidth.indexOf("%"))){
                    calorieColorDetection();
                    clearInterval(id);
                }else{
                    width++;
                    bar.style.width = width + '%';
                    bar.ariaValueNow = width;
                }
            }
        }

        function macroAnim(){
            var bars = document.getElementsByClassName("macro");
            Array.prototype.forEach.call(bars, bar => {
                var height = 0;
                var id = setInterval(frame, 10);
                function frame() {
                    if(height >= bar.getElementsByClassName("macro-bar")[0].getElementsByClassName("macro-fill")[0].style.maxHeight.substring(0, bar.getElementsByClassName("macro-bar")[0].getElementsByClassName("macro-fill")[0].style.maxHeight.indexOf("%"))){
                        clearInterval(id);
                    }else{
                        height++;
                        bar.getElementsByClassName("macro-bar")[0].getElementsByClassName("macro-fill")[0].style.height = height + '%';
                    }
                }
            });
        }

        function macroColorDetection(){
            var macros = document.getElementsByClassName("table-row");
            Array.prototype.forEach.call(macros, macro => {
                const ideal = macro.getElementsByClassName("ideal")[0].innerHTML.substring(0, macro.getElementsByClassName("ideal")[0].innerHTML.indexOf("%"));
                const current = macro.getElementsByClassName("current")[0].innerHTML.substring(0, macro.getElementsByClassName("current")[0].innerHTML.indexOf("%"));
                if(ideal - current == 0){
                    macro.getElementsByClassName("current")[0].style.color = "#4BB543";
                }else if(Math.abs(ideal - current) <= 5){
                    macro.getElementsByClassName("current")[0].style.color = "#ffd23f";
                }else{
                    macro.getElementsByClassName("current")[0].style.color = "#F32013";
                }
            });
        }

        setDash();
        tellTime();
        calorieAnim();
        macroAnim();
        macroColorDetection();
    })();
</script>